<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>A Collection of the Most Useful Web Development Resources on the Net</h1>
    <br />
  


  
  <br />
  <div class="row text-center">

    <div class="col-12 col-sm">
      <h3>
        <%= link_to 'Video Tutorials', static_pages_videotutorials_path %>
      </h3>
      <br />
      <p>Check out the best WebDev tutorials from YouTube on all our featured languages. 
    </div>

    <div class="col-12 col-sm">
      <h3>
        <%= link_to 'Website Tutorials', static_pages_websitetutorials_path %>
      </h3>
      <br />
      <p>The best sites from around the web to learn, hone, and practice your craft. 
    </div>

    <div class="col-12 col-sm">
      <h3>
        <%= link_to 'Documentation', static_pages_documentation_path %>  
      </h3>
      <br />
      <p>Official Documentation of all of our supported languages. 
    </div>
  </div>
    <br />















    


