<br />

<h1 class="ruby">CSS Videos</h1>

<div class="row text-center">
<div class="booyah-box col-6">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dji9ALCgfpM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 



<div class="booyah-box col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fS7w-TXinPE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 

<h1 class="ruby">CSS Videos</h1>

<div class="row text-center">
<div class="booyah-box col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dji9ALCgfpM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 

<div class="booyah-box col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pPy0GQJLZUM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 

<h1 class="ruby">Javascript Videos</h1>

<div class="row text-center">
<div class="booyah-box col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dji9ALCgfpM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 

<div class="booyah-box col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pPy0GQJLZUM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 

<h1 class="ruby">Ruby Videos</h1>

<div class="row text-center">
<div class="booyah-box col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dji9ALCgfpM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 

<div class="booyah-box col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pPy0GQJLZUM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 



<h1 class="ruby">Bootstrap</h1>

<div class="row text-center">
<div class="booyah-box col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dji9ALCgfpM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 

<div class="booyah-box col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dji9ALCgfpM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> 

<div class="clear"></div>

 





