
  
    <div class="container">
      <div class="col-6 offset-3 text-center">
        <%= image_tag("treehouse.png")%> 
      <br />
      <br />
    <h4><b>Ruby Foundations Course</b></h4>
    <br />
    
    <p><a href="http://teamtreehouse.com/library/ruby-foundations">This online course</a> through Treehouse is an excellent starting point for any new coders that want to get more familiar with Ruby. You can check it out with a free trial, but you will have to pay for access to attend the full course.</p>

    <p><b>Price: </b>Starts at $25/month after a 14-day free trial.</p>

    <hr class="style-one">
    <br />
    <%= image_tag("rubythehardway.jpg")%>
    <br />
    <br />
    <h4><b>Learn Ruby the Hard Way</b></h4>
    <br />

    <p><a href="http://learnrubythehardway.org/">This eBook</a> is available online &#8212; in an HTML version &#8212; for free. It uses the same teaching style as Learn Python the Hard Way. It&#8217;s designed to teach absolute beginners how to code with Ruby, and no prior knowledge is necessary. Intermediate coders may also find some useful information here, but experts should probably look elsewhere.</p>
    
    <p><b>Price: </b>Free</p>

    <hr class="style-one">
    <br />
    <%= image_tag("codewars.png")%>
    <br />
    <br />
    <h4><b>Codewars</b></h4>
    <br />

    <p><a href="http://www.codewars.com/?language=ruby">This unique portal</a> allows you to learn by doing, that is by putting your knowledge to practice. An inline coding tool allows you to participate in exercises and challenges right within your browser. There are a variety of languages available to choose from, one of which is obviously Ruby. As you progress &#8212; competing against a large community of like-minded developers &#8212; you&#8217;ll earn achievements and ranks that display your prowess.</p>
    
    <p><b>Price: </b>Free</p>

    <hr class="style-one">


    </div>
  </div>
      






  